@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('/kutian/fonts/iconfont/iconfont.ttf?t=1731821731673') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e608";
}

.icon-folder:before {
  content: "\e61f";
}

.icon-read:before {
  content: "\e742";
}

.icon-data:before {
  content: "\e757";
}

.icon-coffee:before {
  content: "\e7f1";
}

.icon-xinwen:before {
  content: "\e685";
}

.icon-pengboshangyezhoukan:before {
  content: "\eaaa";
}

.icon-caixinwang:before {
  content: "\e693";
}

